.profileContainer {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: var(--fs-l);
    font-family: var(--ff-2);
    font-weight: 500;
  }
}

.profileFormContainer {
  margin-top: 2em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "form image" "form experience" "form education";
  column-gap: 8em;
  row-gap: 4em;

  @media (max-width: 1200px) {
    gap: 4em;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "image" "form" "experience" "education";
  }
}

.formContainer {
  grid-area: form;

  display: flex;
  flex-direction: column;
  gap: 2em;

  form {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  button {
    width: fit-content;
    padding: 1em 4em;
    margin-top: 1em;
  }
}

.profileImageContainer {
  grid-area: image;

  width: auto;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  border: 1px solid var(--clr-border);
  border-radius: 10px;
  padding: 2em 0;

  img {
    height: 8em;
    width: 8em;

    border-radius: 50%;

    @media (max-width: 768px) {
      height: 6em;
      width: 6em;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1em;

    button {
      padding : 0.5em 4em;

      @media (max-width: 768px) {
        padding: 0.5em 2em;
      }
    }
  }
}

.experienceContainer, .educationContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;

  h2 {
    font-size: var(--fs-m);
    font-family: var(--ff-2);
    font-weight: 500;
  }

  button {
    width: fit-content;
    font-family: var(--ff-1);
    font-size: var(--fs-body);
    padding: 0.8em 1.6em;
  }
}

.experienceContainer {
  grid-area: experience;
}

.educationContainer {
  grid-area: education;
}

.experienceWrapper, .educationWrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.timelineContainer {
  h3 {
    font-size: calc(var(--fs-body) + 0.2em);
  }

  p {
    font-size: var(--fs-body);
    &:last-child {
      margin-top: 1em;
      width: 50%;
    }
  }
}

.institutionProfile {

  display: flex;
  flex-direction: column;
  gap: 2em;

  h1 {
    font-size: var(--fs-m);
    font-family: var(--ff-2);
    font-weight: 500;
    margin: 1rem 0 2rem;
  }
  input {
    background: transparent;
  }
  
  form {
    max-width: 50%;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 2em;

    padding-bottom: 2em;
  }

  button {
    width: fit-content;
  }
}