table {
  width: 100%;
  background : white;

  border-spacing: 0;
  border: 2px solid var(--clr-border);
  &:hover {
    border-color : var(--clr-ter);
  }
  border-radius: 1em;

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    min-width: 10em;

    margin: 0;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);

    &:last-child {
      border-right: 0;
    }
  }
}