.breadCrumbs {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: fit-content;
  height: fit-content;

  padding: 0.5em 1em;
  border-radius: 5px;

  background: var(--clr-sec);
  font-size: var(--fs-s);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 0;
    li span {
      margin-left: 1em;
    }
  }
}

.invert {
  background: white;
}